@import url(reset.css);
/* HEADER */
.wrapper{
  width: 100%;
  min-width: 1500px;
}
header {
  top : 0;
  position: fixed;
  height: 90px;
  width: 100%;
  background-color: #373737;
  z-index: 9999;
}

.section .inner {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}


header .logo > a {
  background: url(../images/common/top_logoW.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 137px;
  height: 90px;
  display: block;
  text-indent: -9999px;

}

header .gnb {
  display: flex;
  text-align: center;
}
header .gnb > li {
 
  padding-left: 120px;
  height: 410px;
}

header .gnb > li > a {
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 37px;
}
header .gnb > li > a > span {
  display: block;
  width: 70px;
  position: relative;
}

header .gnb > li > a > span::after {
  content: "";
  display: block;
  position: absolute;
  top: 50px;
  left: 50%;
  width: 0%;
  height: 3px;
  background-color: #fff;
  transition: all 0.5s;
}

header .gnb > li > a > span:hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 0%;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: 0.1s;
}

header .subCover {
  width: 100%;
  background-color: #fff;
  height: 320px;
  position: fixed;
  top: 90px;
  z-index: -1;
  opacity: 90%;
  display: none;
}
header .sub-gnb {
  margin-top: 35px;
}
header .sub-gnb li {
  padding: 10px 0px;
  margin-left: 40px;
  width: 100px;
  text-align: left;
  display: none;
}
header .sub-gnb li a {
  color: #000000;
}

header .sub-gnb li a:hover {
  color: #333ccc;
  font-weight: 600;
}


/* header */
main{
  padding-top: 90px;
  width: 100%;
  /* height: 1000px; */
}

/* main */

footer{
  width:100%;
 
 
 }
footer .inner{
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;  
}

.bottom-menu{
  height: 310px;
  background: #3ea2f0;  
  width: 100%; 
  display: flex; 
}
.btnM-list{
  margin: 10px 0px 30px ;
  line-height: 30px;
  width:100%;  
  display: flex;
  justify-content:space-between;
  margin-right: 40px;
}

.btnM-list>li>a{  
  color: #ffff;
  font-size: 22px; 
  line-height:70px;
 
}
.btnM-list>li>a:hover{
  font-weight: bold;
}

.depth>li{
  line-height: 32px;
  
}
.depth>li>a{  
  color: #ffff;
  font-size: 15px;

}
.depth>li>a:hover{
  font-weight: bold;
}
.company-info{
  width: 100%; 
  height: 90px;

}
.footer-icon{ 
  margin:40px 0; 

}
.bottom-img{
  width: 197px; 
  float: left;
  
}
.bottom-text{
  color: #000000;
  font-size: 13px;
  float: left;
  margin : 10px 86px;
}

.bottom-icon{  
 float: right; 
}

/* footer */

.sub-wrap{
  width: 100%;
}



.bigImg{
  
  background-color: red;
    width: 100%; 
    height: 498px;
    background: url(../images/common/sub_img_1.png) no-repeat center / cover;
}

.sub-wrap-title{
    margin-top: 30px;   
    font-size: 37px;
    color :#090909;
    text-align: center;
}
.sub-wrap-title p::after{
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    margin: auto;
    background-color: #090909;
}
.sub_navBar{
  height: 40px;  
  border-bottom: 1px solid #a0a3a3;
}

.sub_navBar_list{
   
   /*  height: 40px;   */
    margin: 60px 400px;
    font-size: 17px;
    color: #3f4243; 
    display: flex;
    justify-content: space-around;
   
   
}

 .sub_navBar_list>li>a:hover::after{
   
    height: 20px;
    display: block;
    content:'';
    border-bottom: 3px solid #3195d9;
    transition :  0.5s
  }

/* sub-wrap */