footer{
    width: 100%;
    height: 395px;
    background: #3195d9;   
   
}
footer .inner{
    width: 100%;
    max-width: 1500px;

    margin: 0 auto;  
}

.bottom-menu{
    width: 100%; 
    display: flex;    
}
.btnM-list{
    margin:28px 90px;
    line-height: 30px;
    width:100%;
    display: flex;
    justify-content: space-around;
}

.btnM-list>li>a{  
    color: #ffff;
    font-size: 20px; 
    line-height:70px;
   
}
.btnM-list>li>a:hover{
    font-weight: bold;
}

.depth3>li{
    line-height: 29px;
    
}
.depth3>li>a{  
    color: #ffff;
    font-size: 15px;

}
.depth3>li>a:hover{
    font-weight: bold;
}
.company-info{
    width: 100%; 
    margin-top: 120px;
    height: 100px;

}
.footer-icon{
   
    margin:20px;
    display: flex;
    justify-content: flex-start;
}
.bottom-img{
    width: 197px; 
    height: 70px; 
    margin-left: 158px;
    
}
.bottom-text{
    color: #000000;
    font-size: 13px;
    margin-top: 10px; 
    margin-left: 35px;
}

.bottom-icon{
    float: left;
    width: 298px;
    height: 70px;  
    margin-left: 220px;
}