@import url(reset.css);
.sub-wrap{
    width: 100%;
  } 

  
  .bigImg{
      width: 100%; 
      height: 498px;
      background: url(../images/common/sub_img_1.png) no-repeat center / cover;
  }
  
  .sub-wrap-title{
      margin-top: 60px;   
      font-size: 37px;
      color :#090909;
      text-align: center;
      }
  .sub-wrap-title p::after{
      content: '';
      display: block;
      width: 40px;
      height: 2px;
      margin: 5px auto;
      background-color: #090909;
  }
  .sub_navBar{
    height: 50px;  
    border-bottom: 1px solid #a0a3a3;
  }
  
  .sub_navBar_list{
     
      margin-top: 70px;
      font-size: 17px;
      color: #3f4243; 
      display: flex;
      justify-content:center; 
     
     
  }
  .sub_navBar_list>li{
     margin-left: 80px;
  }
   .sub_navBar_list>li>a:hover::after{
      margin: 30px auto ;
      display: block;
      content:'';
      border-bottom: 3px solid #3195d9;
      transition :  0.5s
    }

    .BI_first{
     margin : 30px;
     /* width: 100%; */
     
    }
    .BI_firstText{
        font-size: 18px;
        line-height: 25px;;
    }



    .menu{
        display: flex;
        text-decoration: none;
        margin-top: 78px;
    
    }  
    .menu>li{
        border: 0.5px solid #d1d1d1;
        width: 100%;
        height: 70px;
        font-size: 18px;
        color: black;
        text-decoration: none;
        text-align: center;
        padding-top: 48px;
    }
    
    .menu>li:hover{
        background-color: #3f87d2;
        color: #fff;
    }